{% extends "layouts/base.html" %}

{% block content %}
    <h1>Are you delete todo {{ todo.title }}</h1>
    <p>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
    </p>
    <form action="{% url 'todo:delete' todo.id %}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ todo.title }}" class="is-invalid">
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" >{{ todo.description }}</textarea>
        <br>
        <button type="submit">Delete</button>
    </form>
{% endblock content %}