{% extends "layouts/base.html" %}

{% block content %}
    <h1>Edit todo</h1>
    <p>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
    </p>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" {% if form.title.value %} value="{{ form.title.value }}" {% endif %}  {% if form.title.errors %}class="is-invalid"{% endif %}>
        {% for error in form.title.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" {% if form.description.errors %}class="is-invalid"{% endif %}>{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        {% for error in form.description.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
        <br>
        <button type="submit">Update</button>
    </form>
{% endblock content %}